.dice {
    height: 50px;
    width: 50px;
    background-color: coral;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 50px;
    font-size: 2em;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}
button {
    background-color: coral;
    height: 35px;
    width: 85px;
    font-size: 1em;
    border-radius: 5px;
    display: grid;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
}
html{
    background-color: lightblue;
}
