div {
    margin-left: 15px;
}

.submit-button {
    background-color: rgba(4, 197, 4, 0.699);
    border-radius: 10px;
}

.input-field {
    border-radius: 5px;
    margin: 0px 10px 10px 20px;
}

.cancel-button {
    border-radius: 5px;
    margin: 5px;
}

.confirm-button {
    border-radius: 5px;
    margin: 5px;
}

.edit-button {
    background-color: yellow;
    border-radius: 5px;
    margin: 5px;
}

.update-button {
    border-radius: 5px;
    margin: 5px;
}
